body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: hsla(127, 50%, 50%, 1); */
  background-color: black;
}
/* 
@font-face {
  font-family: 'Good Vibes';
  src: url('./goodvibes.ttf');
} */

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  background-image: url('/aleksandar-jason-137349-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 7em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.title {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin: 1rem;
}

.sexy-line {
  background-color: white;
  height: 2px;
  width: 5rem;
}

.caption {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 1rem;
}

/* .caption span {
  font-family: 'Good Vibes';
  font-size: 7rem;
} */

.nav-bar {
  text-align: right;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: hsla(127, 50%, 50%, 1); */
  background-color: black;
  font-family: 'Lato', sans-serif;
  height: 3.5rem;
}

.nav-bar p {
  font-family: 'Montserrat', sans-serif;
  padding-left: 1.5rem;
  margin-right: 1rem;
}

.nav-bar p:hover {
  cursor: pointer;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  margin: 0 1rem 0 1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.hamburger {
  margin-right: 1rem;
  display: none;
}

.hamburger span {
  width: 40px;
  height: 6px;
  background-color: white;
  display: block;
  margin: 4px 0 4px 0;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  color: black;
  /* overflow-x: hidden; */
  transition: 0.5s;
  padding-top: 60px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0.8rem;
}

.links {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.3rem;
  color: white;
  margin: 0;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

.main-caption {
  color: white;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin: 0 2.5rem 1rem 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h4 {
  position: absolute;
  bottom: 0px;
  font-family: 'Lato', sans-serif;
}

button {
  font-size: 1.2rem;
  color: white;
  background-color: hsl(200, 100%, 60%);
  width: 14rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  font-family: 'Lato', sans-serif;
}

.main button {
  margin-bottom: 2rem;
}

.what-is {
  /* min-height: 100vh; */
  /* background-color: hsla(127, 50%, 50%, 1); */
  background-color: black;
  text-align: center;
}

.how-it-works {
  /* background-color: hsla(127, 50%, 60%, 1); */
  background-color: black;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.what-is h1,
.how-it-works h1 {
  padding: 1rem 0 1rem 0;
  line-height: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.what-is h1:hover,
.how-it-works h1:hover {
  cursor: pointer;
}

.what-is .box-container {
  display: flex;
  flex-wrap: wrap;
  /* height: calc(100vh-3rem); */
  /* min-height: 30rem; */
  padding: 0.6rem;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.how-it-works .box-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 30rem;
  padding: 0.6rem;
  justify-content: center;
  /* background-color: hsla(127, 50%, 60%, 1); */
  background-color: black;
  padding-bottom: 6rem;
}

.what-is .box {
  width: 20rem;
  min-width: 220px;
  /* background-color: hsla(127, 50%, 60%, 1); */
  background-color: black;
  margin: 0.6rem;
}

.how-it-works .box {
  width: 20rem;
  min-width: 220px;
  /* background-color: hsla(127, 50%, 50%, 1); */
  background-color: black;
  margin: 0.6rem;
}

.box .header {
  color: white;
  font-size: 1.2rem;
  margin: 1rem 1rem 0 1rem;
}

.box .body {
  color: white;
  text-align: center;
  line-height: 1.7rem;
  padding: 1.5rem;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.box img {
  max-width: 18rem;
  margin: 1rem 1rem 0 1rem;
}

@media only screen and (max-width: 760px) {
  .account-ready {
    width: 90vw;
  }

  .get-started-buttons {
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  .big-field {
    width: 80vw;
  }
}

@media only screen and (max-width: 550px) {
  .links {
    display: none;
  }

  /* .nav-bar a {
    display: none;
  } */

  .hamburger {
    display: block;
  }
}

/* For MyProfile */
@media only screen and (max-width: 520px) {
  .category {
    width: 95vw;
    margin: 0.3rem 0 0.3rem 0;
  }

  .link {
    width: 95vw;
    margin: 0.3rem 0 0.3rem 0;
  }

  .logo {
    margin-left: 0;
  }

  img.profile-pic {
    /* width: 85vw; */
    width: 85vw;
    margin-bottom: 0.5rem;
    /* box-sizing: border-box; */
  }

  .link button {
    width: 14rem;
  }
}

@media only screen and (max-width: 500px) {
  /* Browse component */

  .local {
    flex-direction: column;
    align-items: center;
    width: 95vw;
  }

  .local p {
    text-align: center;
    margin: 0 0 0.5rem 0;
  }

  .mini-pic {
    width: 85vw;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 5px;
    /* border: 1px solid hsla(185, 0%, 80%, 1); */
    box-shadow: 0px 3px 5px hsla(185, 0%, 80%, 1);
  }

  .local button {
    margin: 0.2rem 0.5rem 0 0.5rem;
  }
}

@media only screen and (max-width: 420px) {
  .link button {
    width: 12rem;
    font-size: 0.9rem;
  }

  .link p {
    margin: 0 0 0.7rem 1rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 400px) {
  /* .link {
    flex-direction: column;
    align-items: center;
  } */

  .link button {
    width: 10rem;
    /* margin-left: 0;
    margin-right: 0; */
  }

  .link p {
    /* margin: 0 0 0.5rem 0; */
    font-size: 0.9rem;
    /* text-align: center; */
  }
}

@media only screen and (max-width: 380px) {
  .local button {
    font-size: 1rem;
    width: 8rem;
  }
}

/* @media only screen and (max-width: 355px) {
  .mini-pic {
    width: 6rem;
  }
} */

@media only screen and (max-width: 340px) {
  .local button {
    font-size: 1rem;
    width: 7rem;
  }
}
